.content-area.about-page{
  padding: 120px 0;
  // color: red;
.container{

.box-container{
    h1{
      font-size: 3rem;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 2rem;
    }

    p{
      max-width: 700px;
      margin: 0 auto;
      line-height: 1.5;
      font-size: 1.2rem;
      font-weight: 300;
    }

    }
  }
}
